
.button{
    border-radius: 10px;
    border: none;
    inline-size: auto;
    margin: 0.5vmin;
}
.button:hover{
    background-color: purple;
    color: ghostwhite;
    transition: all .3s;
    box-shadow: 0px 0px 2px black;
}
.create-post{
    width: 70%;
    margin: 2vmin auto;
    border: none;
    padding: 2vmin;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.create-post label{
    display: none;
}
.create-post form{
    display: flex;
    margin: auto 0;
    width: 100%;
}
.create-post textarea {
    height: auto;
    border-radius: 20px;
    align-content: center;
    margin-right: 1vmin;
    width: 100%;
}
.create-post button{
    border: none;
    border-radius: 50px;
    padding: 2vmin;
}
.create-post button:hover{
    background-color: purple;
    color: ghostwhite;
    transition: all 0.3s;
}
.edit{
    transition: all .3s;
}
.post{
    transition: all .3s;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.377);
    margin: 1vmin 0;
    padding: 5vmin 5vmin 1vmin 5vmin;
}
.post:hover{
    box-shadow: 0px 0px 5px rgba(128, 0, 128, 0.167);
}
.post h3{
    font-size: 2.5vmin;
    font-weight: bold;
    color: purple;
}
.post p{
    transition: all .3s;
}
.post textarea{
    border-radius: 20px;
    padding: 2vmin;
}
.post a{
    text-decoration: none;
}
.post h3:hover{
    color: rgba(128, 0, 128, 0.905);
}
.timestamp{
    font-weight: 100;
    font-size: 2vmin;
    color: rgba(0, 0, 0, 0.839);
    margin: 0;
    float: right;
}
.post-btn{
 border: none;   
 border-radius: 25px;
 padding: 1vmin;
}
.pagination{
    align-items: center;
    justify-content: center;
}

@keyframes newPost {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}